{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	{% if title %}
		<title>Sveuciliste - {{ title }}</title>
	{% else %}
		<title>Sveuciliste</title>
	{% endif %}
	<meta name="Marko Cubic" content="">
	<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="{% static 'js/scripts.js' %}"></script>
</head>
<body>
	<div class="top-header">
		<div class="center-container">
			<div class="top-left-header">
				<a href="{% url 'sveuciliste-home' %}"><h2>Sveuciliste</h2></a>
			</div>
			<div class="top-right-header">
				<a href="{% url 'sveuciliste-home' %}">HOME</a>
				{% if user.is_authenticated %}
					<a href="{% url 'logout' %}">LOG OUT</a>
					{% if request.user.role == "mentor" %}
						<a id="user" href="{% url 'mentor' %}">
					{% endif %}
					{% if request.user.role == "student" %}
						<a id="user" href="{% url 'student' request.user.id %}">
					{% endif %}
							<img src="{% static 'images/user_selected.png' %}">
							<span id="user-name">{{request.user.email}}</span>
						</a>
				{% else %}
					<a href="{% url 'login' %}">LOG IN</a>
					<a href="{% url 'register' %}">REGISTER</a>
				{% endif %}
			</div>
		</div>
	</div>
	
	<div class="center-container">
		{% if messages %}
		{% for message in messages %}
			<div class="message">
				<p>{{ message }}</p>
			</div>
		{% endfor %}
		{% else %}
			<div class="no-message">
			</div>
		{% endif %}
		
		{% block content %}
		{% endblock %}
	</div>
	
</body>
</html>