{% extends "sveuciliste/base.html" %}

{% block content %}
    <div class="users-container">
        <div class="users-center-container">
            <h1>Reset Password</h1>
            <h4>Type in your new password:</h4>
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    {% for field in form %}
                        <p>
                            {{ field.label_tag }}
                            {{ field }}
                            {% for error in field.errors %}
                                <span class="user-error">{{ error }}</span>
                            {% endfor %}
                        </p>
                    {% endfor %}
                        
                </fieldset>
                <div class="form-group">
                    <button class="btn" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}