{% extends "sveuciliste/base.html" %}

{% block content %}
    <div class="users-container">
        <div class="users-center-container">
            {% block mentor_content %}
            <div id="user-menu">
                <ul>
                    <li><a class="user-menu-default" href="{%url 'mentor_studenti' %}">Studenti</a></li>
                    <li><a class="user-menu-default" href="{%url 'mentor_predmeti' %}">Predmeti</a></li>
                </ul>
            </div>
		    {% endblock %}
        </div>
    </div>
{% endblock content %}